  [Unit]
  Description=GitHub Actions Runner
  After=network.target

  [Service]
  ExecStart=/actions-runner/runsvc.sh
  User=github
  WorkingDirectory=/actions-runner
  KillMode=process
  KillSignal=SIGTERM
  TimeoutStopSec=5min

  [Install]
  WantedBy=multi-user.target